.create-user-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .input-field input:focus {
    border-color: #007bff;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  